<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      Calcyl
    </ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-content padding>
  <p>{{a}}{{operation.operator}}{{b}}
    <ion-input [(ngModel)]="input" placeholder="?" type="number"></ion-input>
  </p>
</ion-content>
